{% extends "base.html" %}

{% block content %}
	<style>
	#info {
	position: absolute;
	border: 3px solid lightblue;
	background-color: lightgray;
	top: 11%;
	height: 150px;
	width: 200px;
	z-index: 100;
	display:block;
}
	</style>
	<div id="info">Test </div>
	<script src={{url_for('static', filename='three.js')}}></script>
	<script src={{url_for('static', filename='math.min.js')}}></script>
	<script src={{url_for('static', filename='OrbitControls.js')}}></script>
        <script src={{url_for('static', filename='jquery-3.4.1.js')}}></script>
	<script src={{url_for('static', filename='visualiser.js')}}></script>
	<script>initVars({{particles | tojson}}, {{vertices | tojson}}, {{file | tojson}});
	</script>
	
	
	{% endblock %}
